body {
	background-image: url(./GAME_IMAGES/world.jpeg);
}

h1,
h2 {
	display: flex;
	justify-content: center;
	color: rgb(151, 235, 241);
}

.game-container {
    display: flex;
	flex-wrap: wrap;
	height: 600px;
	width: 600px;
	margin: auto;
	justify-content: center;
}
.card {
    padding: 5%;
	border: 3px solid rgb(190, 224, 247);
	margin: 15px;
	height: 10%;
	width: 7%;
	background-image: url('./GAME_IMAGES/back-image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.buttons {
    display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
button {
    padding: 0.6em 1em;
	margin: 6em 0.3em 0em 0em;
	border-radius: 2em;
	text-decoration: none;
	border: 1px solid white;
    background: linear-gradient(0deg, rgba(174,234,241,1) 1%, rgba(58,58,189,1) 100%);
    color: rgb(5, 5, 66)
}
button:hover {
    background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	box-shadow: 4px 10px 35px 4px rgba(242, 247, 252, 0.8);
	color: blanchedalmond;
}

.dark-mode {
    background-image: url('./GAME_IMAGES/stars.png');
}
.back {
    background-image: url("./GAME_IMAGES/back-image.jpeg");
}

.win {
    animation:blinking 1.5s infinite;
    font-size: 30px;
}
/* https://www.educba.com/css-blinking-text/ */
@keyframes blinking{
0%{   color: rgb(233, 109, 26);   }
60%{   color: rgb(238, 241, 28); }
50%{   color: transparent; }
70%{   color:transparent; }
100%{  color: rgb(47, 141, 165);   }
}

@import 'animate.css';
.animate__flipInY {
--animate-duration: 2s;
}
.game-container-all {
	display: flex;
	
}

.galaxy {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.planets {
	align-self: flex-start;
    padding: 5%;
	border: 4px solid rgb(190, 224, 247);
	margin: 15px;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}