body {
	background-image: url(./GAME_IMAGES/world.jpeg);
}

h1,
h2 {
	display: flex;
	justify-content: center;
	color: rgb(151, 235, 241);
}

.game-container {
	display: flex;
	flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: auto;
    justify-content: center;
}
.card {
	padding: 5%;
	border: 3px solid rgb(190, 224, 247);
	margin: 15px;
	height: 10%;
    width: 7%;
	background-image: url('./GAME_IMAGES/back-image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.buttons {
	display: flex;
	justify-content: space-around;
    align-items: flex-end;
}
button {
	padding: 0.8em 2em;
	margin: 6em 0.3em 0em 0em;
	border-radius: 2em;
	text-decoration: none;
	border: 1px solid white;
    background-color: rgb(23, 227, 241);
}

button:hover {
    
	background-color: rgb(81, 81, 233);
    box-shadow: 5px 13px 35px 5px rgba(242, 247, 252, 0.8);
    color: blanchedalmond;
}

.dark-mode {
    background-image: url("./GAME_IMAGES/stars.png");
}