body {
	background-image: url(./GAME_IMAGES/world.jpeg);
}

h1,
h2 {
	display: flex;
	justify-content: center;
    color: rgb(139, 238, 245);
}

.game-container {
	display: flex;
	flex-wrap: wrap;
}
.card {
	
	padding: 10%;
	border: 3px solid rgb(83, 180, 245);
	margin: 15px;
    height: 30px;
    background-image: url("./game_images/back-image.jpeg");
}

.buttons {
	display: flex;
	justify-content: space-around;
    border: none;
    
}
